@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura BK BT';
  src: url('./assets/fonts/Futura-BK-BT.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('./assets/fonts/Futura-Md-BT.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('./assets/fonts/Futura-Lt-BT.ttf') format('truetype');
}
